.header-image {
    max-width: 80%;
    height: auto;
    margin-top: 0;
}

@media (max-width: 768px) {
    .header-image {
        max-height: 200px;
        object-fit: contain;
    }
}


footer p a {
  text-decoration: none;
  color: #3f3f3f; 
  font-weight: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}


footer p a:hover {
  color: #3f3f3f; 
  text-decoration: underline; 
}